.photo-div {
  float: right;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.photo-img {
  width: 180px;   /* adjust size as needed */
  height: auto;
}

body {
  margin-left: 25px;
}
