.photo-div {
  float: right;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.photo-img {
  width: 180px;   /* adjust size as needed */
  height: auto;
}

.page {
  max-width: 800px;
  margin-left: 50px;   /* fixed start */
}
